/* Charitify Theme Responsive Design */

@media (max-width: 1024px) {
    .list-items .blog-post .blog-content{
        padding: 0;
    }
    .single-post h2{
        font-size: 20px;
    }
    .comments-list .comment-box{
        width: 620px;
    }
    .reply-list .comment-box{
        width: 540px;
    }
    .cta-section-2 h2{
        font-size: 24px;
    }
    .img-border{
        top: 35px;
        height: 350px;
    }
}

/* ---- Start of max-width 992px CSS ---- */
@media (max-width: 992px) {
    .sm-padding{
        padding: 15px;
    }
    ul.nav > li > a {
        font-size: 10px;
        padding: 0 5px;
    }
    .blog-content p{
        font-size: 12px;
    }
    .blog-items{
        padding: 0!important;
        border: none!important;
    }
    .bottom-header .default-btn{
        display: none;
    }
    #mainmenu li{
        padding-left: 15px;
    }
    .promo-wrap{
        position: inherit;
    }
    .slider-text h1{
        font-size: 32px;
    }
    .slider-text p{
        font-size: 14px;
    }
    .img-border,
    .about-image img{
        display: none;
    }
    .service-content h4{
        font-size: 15px;
    }
    .cta-content h2{
        font-size: 24px;
        line-height: 36px;
    }
    .project-details h4 a{
        font-size: 14px;
    }

}
/* ---- End of max-width 992px CSS ---- */


/* ---- Start of max-width 767px CSS ---- */
@media all and (max-width: 767px) {
    body, p{
        font-size: 12px;
        line-height: 22px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    p br{
        display: none;
    }
    .padding{
        padding: 60px 0;
    }
    .xs-padding{
    	padding: 15px;
    }
    .site-branding {
        padding: 12px 0;
    }
    .js #mainmenu {
        display:none;
    }
    .js .slicknav_menu {
        display:block;
    }
    .pager-header{
        min-height: 220px;
    }
    .breadcrumb {
        right: auto;
        top: auto;
        bottom: -50px;
        left: -15px;
        margin: 0;
    }
	.contact_form .form-group .col-sm-6:first-child{
        margin-bottom: 15px;
    }
    .coment-form .form-group .col-sm-4:last-child{
        margin-top: 15px;
    }
    .list-items .blog-post img{
        margin-bottom: 10px;
    }
    .colum-row .col-sm-6:first-child{
        margin-bottom: 15px;
    }
    .contact-info ul li{
        font-size: 10px;
    }
    .single-post h2{
        font-size: 16px;
    }
    .share-icon li{
        margin-bottom: 10px;
    }
    .slider-text h1{
        font-size: 28px;
    }
    .slider-text p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .slider-text h5{
        font-size: 12px;
        margin-bottom: 0;
    }
    .slider-text .default-btn{
        display: none!important;
    }
    .owl-nav div{
        left: 0;
    }
    .owl-nav div.owl-next{
        right: 0;
    }
    .team-wrap {
        padding: 0 10px;
    }
    .team-wrap .xs-padding{
        padding: 5px;
    }
    .footer-section .footer-social,
    .footer-section{
        text-align: center;
    }
    .footer-social li a{ margin: 0 10px; }
    .hero-section{
        height: 400px;
    }
    .hero-content h1{
        font-size: 30px;
    }
    .site-branding img{
        padding: 5px 0;
        height: 50px;
    }
    .comments-list .comment-box{ width: 78%; }
    .reply-list{
        padding-left: 10px;
    }
    .comments-list .comment-box:before,
    .comments-list .comment-box:after,
    .comments-list:before{
        display: none;
    }
    #scroll-to-top {
        width: 35px;
        height: 35px;
        font-size: 10px;
        line-height: 35px;
        bottom: 20px;
        right: 20px;
    }
    .about-content h2{
        font-size: 22px;
    }
    .promo-content h3{
        font-size: 14px;
    }
    .promo-content p{
        font-size: 12px;
        line-height: 18px;
    }
    .promo-content{
        padding: 5px 10px;
    }
    .project-filter li{
        margin: 3px;
        font-size: 10px;
    }
    .cta-section{
        padding: 50px 0;
    }
    .cta-content h2{
        font-size: 18px;
        line-height: 25px;
    }
    .cta-section-2,
    .cta-section-2 .col-md-4.text-right{
        text-align: center!important;
    }
    .cta-section-2 .default-btn{
        text-align: center!important;
        margin-top: 15px;
    }
    .nivo-caption a, .nivo-caption .slider-btn{
        display: none!important;
    }
    
}
/* ---- End of max-width 767px CSS ---- */


/* ---- Start of max-width 480px CSS ---- */
@media all and (max-width: 480px) {
    .coment-form .form-group .col-sm-4{
        margin-bottom: 15px;
        margin-top: auto;
    }
    .comment-form .form-group .col-sm-4:nth-child(1),
    .comment-form .form-group .col-sm-4:nth-child(2){
        margin-bottom: 15px;
    }
    .slider-text h1{
        font-size: 16px;
    }
    .slider-text p{
        display: none;
    }
    .top-content-wrap ul li{
        margin-right: 18px;
    }

}
/* ---- End of max-width 480px CSS ---- */

@media (max-width: 576px){
    .about-section .container-fluid{
        max-width: 540px;
    }
    .promo-content h3 {
        font-size: 16px;
    }
    .about-content h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .list-items .blog-post .col{
        width: 100%;
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .about-section .container-fluid{
        max-width: 720px;
    }
    .img-border,
    .about-image img{
        display: none;
    }
}
/* ---- Start of max-width 420px CSS ---- */
@media all and (max-width: 420px) {
    
}
/* ---- End of max-width 420px CSS ---- */


/* ---- Start of max-width 380px CSS ---- */
@media all and (max-width: 380px) {
	.slider_content .btn_group a {
        margin: 0 10px 10px 0;
    }
    .slider-text .default-btn{
        display: none;
    }
}
/* ---- End of max-width 380px CSS ---- */
